@import "tailwindcss";


:root {
  --background: #fafafa;
  --foreground: #262626;
  --ig-primary: #0095f6;
  --ig-primary-hover: #1877f2;
  --ig-secondary: #dbdbdb;
  --ig-link: #00376b;
  --ig-error: #ed4956;
  --ig-separator: #dbdbdb;
}



body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
}